/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9; /* Light Gray */
    color: #333; /* Dark Gray */
}

header {
    background-color: #3498db; /* Blue */
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

nav a:hover {
    color: #f39c12; /* Orange on hover */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* White */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light Box Shadow */
}

.about-section,
.team-section {
    background-color: #fdfdfd; /* Off-White */
    padding: 40px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-text {
    width: 60%;
}

.about-text p {
    color: #555; /* Dark Gray */
}

.about-image img,
.team-member-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.team-member {
    display: flex;
    margin-bottom: 20px;
    background-color: #fdfdfd; /* Off-White */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-member-info {
    margin-left: 20px;
}

/* More vibrant colors for headings, boxes, and text */

h1, h2, h3, h4, h5, h6 {
    color: #e74c3c; /* Red */
}

.about-section h2,
.team-section h2 {
    color: #3498db; /* Blue */
}

.team-member h3 {
    color: #f39c12; /* Orange */
}

.team-member p {
    color: #777; /* Light Gray */
}

footer {
    background-color: #3498db; /* Blue */
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
